@import '/../variables.scss';

.textArea-size {
  height: 9.375rem;
}

.text-color {
  color: $project-bg-color;
}

.form-label {
  color: $project-bg-color;
  font-weight: bold;
}

.form-btn-portfolio {
  background-color: #5382B1;
  color: white;
}
.input-text, .input-text {
  border: 1px solid $project-bg-color;
  &:focus {
    transition: none;
    border-color: $project-bg-color;
  }
}

.input-error, .textArea-error {
  border-color: red;
  &:focus {
    border-color: red;
  }
}

.label-error {
  color: red;
}

.invalid-feedback {
  display: inline-block;
  font-style: italic;
  color: red;
}