@import '/../variables.scss';

.header-bg-color {
  background-color: #2e3157;
  padding-top: 0.375rem;  /*increase the navbar height*/
  padding-bottom: 0.375rem;
}

.nav-brand-color {
  color: #fff;
}

.link-color {
  color: #fff;
  &:hover {
    color: $portfolio-yellow;
  }
}
