@import '/../variables.scss';

.banner-img {
  background: url("/../images/banner_background_03.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10%;
}

.button-font-color {
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.btn-portfolio {
  background-color: $portfolio-yellow;
  width: 16.19rem;
  height: 5.125rem;
  font-size: 1.25rem;
  border-radius: 0.625rem;
}

.icon-fonts-circle {
  color: $portfolio-yellow;
  font-size: 1rem;
}

.icon-fonts {
  font-size: 6.25rem;
  color: $portfolio-yellow;
}

.skills-p {
  color: #888a8c;
}

.skills-header {
  color: $project-bg-color;
  font-size: 2rem;
}

.skills-header-example {
  color: $project-bg-color;
  font-size: 1.4rem;
}

.project-bg-color {
  background-color: #8b9fb3;
}

.contact-container {
  background-color: $nav-bg-color;
  color: $portfolio-yellow; 
  text-align: center;
}