@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab';
}

p, input, textarea, label {
  font-family: 'Roboto';
}

button {
  text-transform: uppercase;
}
